<table mat-table [dataSource]="reviewers">
    <!-- Ranking Column -->
    <ng-container matColumnDef="ranking">
    <th mat-header-cell *matHeaderCellDef>Ranking</th>
    <td mat-cell *matCellDef="let leader; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let reviewer; let i = index">
        <a [href]="'https://github.com/' + reviewer.username" target="_blank" style="text-decoration: none; color: inherit; display: flex; align-items: center; justify-content: center;">
            <img height="24px" width="24px" [src]="'https://avatars.githubusercontent.com/u/'+ reviewer.id +'?v=4&size=64'" style="margin-right: 8px; border-radius: 50%;" />
            {{ reviewer.username }} @if(i < 3) { <span>{{ getIcon(i) }}</span> }
          </a>
    </td>
    </ng-container>

    <!-- Reviews Column -->
    <ng-container matColumnDef="reviews">
    <th mat-header-cell *matHeaderCellDef>Reviews</th>
    <td mat-cell *matCellDef="let reviewer">{{ reviewer.totalReviewCount }}</td>
    </ng-container>

    <!-- Table Header and Row Definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="font-weight: 600;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>